* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

button {
    display: block;
    font-size: 2rem;
    padding: 10px;
    margin: 30px auto;
}

